body {
	height: 90vh;
}

#menuContainer {
	width: 100%;
	background-color: white;
}

#svgContainer{
	height: 100%;
}

#svg {
	width: 100%;
	height: 100%;
	background-color: green;
}

.guiButton {
    width: 6vh;
    height: 6vh;
	min-width: 42px;
	min-height: 42px;
	max-width: 72px;
	max-height: 72px;
    margin: 5px;
    font-size: 15px;
    border: 2px solid gainsboro;
    border-radius: 17%;
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: none;
    outline: 0; 
}

.guiButton.active {
	background-color: white;
	border-color: darkTurquoise;
}

.otherTool {
	float: right;
}

.prevForm {
	stroke: darkTurquoise;
	stroke-width: 3px;
	stroke-dasharray: 5;
}

.draw{
	stroke: black;
	stroke-width: 2px;
}
